# define mysql Service
apiVersion: v1            # version of my k8s api
kind: Service             # type of resource we want
metadata:                 # info used to identify object
  name: wordpress-service # name of my service - must be unique
  annotations:
    metallb.universe.tf/allow-shared-ip: key
  labels:                 # use to register detailed info about resource
    app: wordpress        # tag info to find more easily a resource
spec:                     # desired state / tech config
  type: LoadBalancer      # state what type of IP
  ports:
    - name: wordpress
      port: 5050
      targetPort: 5050
      protocol: TCP
  selector:               # Allow to identify resources with the same label
    app: wordpress

---

# define image deployment instructions
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  labels:
    app: wordpress
spec:
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:           # define container
      - name: wordpress
        image: wordpress
        imagePullPolicy: Never # Image will only be pulled localy
        ports:
        - containerPort: 5050
          name: wordpress